.HOME-page {
    background-color: #3a3a3a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .HOME-page .div {
    background-color: #3a3a3a;
    width: 1440px;
    height: 2048px;
    position: relative;
  }
  
  .HOME-page .home-icons {
    position: absolute;
    width: 1100px;
    height: 700px;
    top: 1211px;
    left: 170px;
  }
  
  .HOME-page .gallery-tip-box {
    position: absolute;
    width: 350px;
    height: 700px;
    top: 0;
    left: 0;
    border: 1px solid;
    border-color: #ffffff;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
  }
  
  .HOME-page .text-wrapper {
    position: absolute;
    top: 70px;
    left: 45px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 1.00px;
    line-height: 44px;
    white-space: nowrap;
  }
  
  .HOME-page .FF-tip-box {
    position: absolute;
    width: 350px;
    height: 700px;
    top: 0;
    left: 375px;
    border: 1px solid;
    border-color: #ffffff;
    background-image: url(./img/FF-tip-box.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .HOME-page .FLOW-FIELDS {
    position: absolute;
    top: 70px;
    left: 45px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 1.00px;
    line-height: 44px;
  }
  
  .HOME-page .INSPO-tip-box {
    position: absolute;
    width: 350px;
    height: 700px;
    top: 0;
    left: 750px;
    border: 1px solid;
    border-color: #ffffff;
    background-image: url(./img/INSPO-tip-box.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .HOME-page .text-wrapper-2 {
    position: absolute;
    top: 70px;
    left: 45px;
    font-family: var(--m3-display-small-font-family);
    font-weight: var(--m3-display-small-font-weight);
    color: #ffffff;
    font-size: var(--m3-display-small-font-size);
    letter-spacing: var(--m3-display-small-letter-spacing);
    line-height: var(--m3-display-small-line-height);
    white-space: nowrap;
    font-style: var(--m3-display-small-font-style);
  }
  
  .HOME-page .nav-bar {
    position: absolute;
    width: 1440px;
    height: 104px;
    top: 0;
    left: 0;
    background-color: #1b1b1b;
  }
  
  .HOME-page .rectangle {
    position: absolute;
    width: 250px;
    height: 50px;
    top: 27px;
    left: 595px;
    object-fit: cover;
  }
  
  .HOME-page .text-wrapper-3 {
    position: absolute;
    top: 39px;
    left: 917px;
    font-family: var(--m3-body-large-font-family);
    font-weight: var(--m3-body-large-font-weight);
    color: #ff9596;
    font-size: var(--m3-body-large-font-size);
    letter-spacing: var(--m3-body-large-letter-spacing);
    line-height: var(--m3-body-large-line-height);
    white-space: nowrap;
    font-style: var(--m3-body-large-font-style);
  }
  
  .HOME-page .text-wrapper-4 {
    position: absolute;
    top: 39px;
    left: 1006px;
    font-family: var(--m3-body-large-font-family);
    font-weight: var(--m3-body-large-font-weight);
    color: #95ffb1;
    font-size: var(--m3-body-large-font-size);
    letter-spacing: var(--m3-body-large-letter-spacing);
    line-height: var(--m3-body-large-line-height);
    white-space: nowrap;
    font-style: var(--m3-body-large-font-style);
  }
  
  .HOME-page .text-wrapper-5 {
    position: absolute;
    top: 39px;
    left: 1044px;
    font-family: var(--m3-body-large-font-family);
    font-weight: var(--m3-body-large-font-weight);
    color: #95a6ff;
    font-size: var(--m3-body-large-font-size);
    letter-spacing: var(--m3-body-large-letter-spacing);
    line-height: var(--m3-body-large-line-height);
    white-space: nowrap;
    font-style: var(--m3-body-large-font-style);
  }
  
  .HOME-page .HOME {
    position: absolute;
    width: 569px;
    height: 200px;
    top: 342px;
    left: 151px;
  }
  
  .HOME-page .text-wrapper-6 {
    position: absolute;
    width: 569px;
    height: 200px;
    top: -4px;
    left: -2px;
    -webkit-text-stroke: 5px #ffffff;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 200px;
    text-align: center;
    letter-spacing: 0;
    line-height: 44px;
  }
  
  .HOME-page .PAGE {
    position: absolute;
    width: 500px;
    height: 200px;
    top: 342px;
    left: 775px;
  }
  
  .HOME-page .text-wrapper-7 {
    position: absolute;
    width: 500px;
    height: 200px;
    top: -4px;
    left: -2px;
    -webkit-text-stroke: 5px #ffffff;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 200px;
    text-align: center;
    letter-spacing: 0;
    line-height: 44px;
  }
  
  .HOME-page .rectangle-2 {
    position: absolute;
    width: 1009px;
    height: 571px;
    top: 581px;
    left: 192px;
    background-color: #d9d9d9;
  }
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif;
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* full screen height */
  }
  
  .content a {
    color: rgb(255, 135, 251);
    text-align: center;
  }
  .content p {
    color: rgb(135, 255, 171);
    text-align: center;
  }
  .content {
    position: relative;
    z-index: 1;
    color: white;
    padding: 2rem;
    align-content: center;
  }